<!-- Main -->
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row recieved-data">
            <div class="12u">
                <div class="previous-selection box">
                    <h5 class="heading">You selected</h5>
                    <div>
                        <span class="badge" title="Movie"><span class="icon fa-film"></span>{{selection.movie}}</span>
                        <span class="badge" title="Theater"><span class="icon fa-map-marker"></span>{{selection.theater}}</span>
                        <span class="badge" title="Date"><span class="icon fa-calendar"></span>{{selection.date}}</span>
                        <span class="badge" title="Time"><span class="icon fa-clock-o"></span>{{selection.time}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Sidebar -->
            <div id="sidebar" class="4u">

                <!-- Selction Area -->
                <section>
                    <ul class="divided">
                        <li>
                            <!-- Current Selection -->
                            <article class="excerpt">
                            <form class="box">
                                <label for="txtCategory">Category</label>
                                <select class="u-full-width category" id="txtCategory" ng-model="categorySelected">
                                    <option value="" disabled selected>-- Select Category --</option>
                                    <option ng-repeat="category in categories" value="{{ category }}">{{ category | uppercase }} - {{ screenDistance[category] }} away from screen</option>
                                </select>
                                <br>
                                <label for="totalSeats">Total Seats</label>
                                <input class="u-full-width" type="number"
                                    min="1" max="10"
                                    placeholder="Total Seats" id="totalSeats"
                                    ng-change="resetSelection()"
                                    ng-model="quantity" value="">
                                <br>
                                <input type="submit" value="Book Tickets"
                                    ng-class="{'hide' : selection.seats.length !== quantity}"
                                    ng-disabled="selection.seats.length !== quantity">
                            </form>
                            </article>
                        </li>

                    </ul>
                </section>
            </div>
            <!-- End Sidebar -->

            <!-- Content -->
            <div id="content" class="8u">
                <div class="box seat-selection">
                    <div ng-class="{'hide': categorySelected === undefined || quantity === undefined }"
                        class="category-title">Category - <span>{{categorySelected}}</span><span class="icon fa-certificate {{categorySelected}}"></span></div>
                    <div class="seats">
                        <div ng-if="categorySelected === undefined || quantity === undefined">
                            <span class="center no-category">
                                Please enter
                                <span ng-class="(categorySelected === undefined ? 'glow' : 'hide')">"Category &"</span>
                                <span ng-class="{'glow': quantiy === undefined}">"Total Seats"</span>
                            </span>
                        </div>
                        <div ng-repeat="(row, rowSeats) in seats[categorySelected]" ng-if="quantity !== undefined" class="seats-row">
                            <span seat ng-repeat="seat in rowSeats" class="seat"
                                ng-class="{'hidden' : seat.hidden === true, 'booked' : seat.booked === true}"
                                data-availablity-status="{{ seat.available }}"
                                data-row-id="{{ row }}"
                                ng-click="bookTickets($event)"></span>
                        </div>
                    </div>
                    <div ng-class="{'hide': categorySelected === undefined || quantity === undefined }"
                        class="screen">Screen</div>
                </div>

                <div ng-if="categorySelected !== undefined && quantity !== undefined">
                    <div class="seat-explanation">
                        <span class="seat-desc-group">
                            <span class="seat" data-availablity-status="true"></span>
                            <span class="span-desc">Available</span>
                        </span>
                        <span class="seat-desc-group">
                            <span class="seat" status="unavailable"></span>
                            <span class="span-desc">Unavailable</span>
                        </span>
                        <span class="seat-desc-group">
                            <span class="seat booked"></span>
                            <span class="span-desc">Booked seats</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- End Content -->
        </div>
    </div>
</div>
<!-- End Main -->